.chat
  .messages
    = render partial: 'message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'Aa'
      = f.submit '≫', class: 'send-btn'