.chat {
  height: 100%;
  width: 30%;
  background-image: url("chat-back.png");
  background-size: cover;
  .messages {
    height: calc(100% - 90px);
    padding: 10px;
    overflow: scroll;
    &__message {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 20px;
      margin-bottom: 10px;
      color: rgb(77, 77, 77);
      font-family: 'arial';
      border-radius: 20px 20px 20px 0;
      &__upper-box {
        display: flex;
        font-size: 10px;
        line-height: 30px;
        margin-bottom: 10px;
        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-right: 10px;
          object-fit: cover;
        }
      }
      &__text {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 10px;
    background-color: rgba(200, 237, 252, 0.8);
    font-family: 'arial';
    form {
      display: flex;
    }
    .input-box {
      width: 80%;
      margin: 0 5%;
      font-size: 10px;
      &__text {
        line-height: 30px;
        width: 100%;
        color: rgb(77, 77, 77);
        padding-left: 5px;
      }
    }
    .send-btn {
      height: 35px;
      width: 40px;
      margin-right: 10px;
      border-radius: 10%;
      color: #ffffff;
      background-color: skyblue;
      margin-left: 5px;
      font-size: 30px;
    }
    .send-btn:hover {
      opacity: 0.8;
    }
  }
}