.header {
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 0.5px solid #dfd7d7;
  font-family: 'arial';
  font-weight: bold;
  
  .left-box {
    display: flex;
    line-height: 75px;
    &__logo {
      color: skyblue;
      padding: 0 40px;
      font-family: "Courier";
      font-weight: bold;
      font-size: 20px;
    }
    &__calendar-items {
      color: #ffffff;
      list-style: none;
      li {
        margin-left: 15px;
        display: inline-block;
        line-height: 10px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: skyblue;
      }
      li:hover {
        opacity: 0.8;
      }
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }

  .right-box {
    display: flex;
    line-height: 75px;
    margin-right: 40px;
    &__user-edit {
      padding: 10px 20px 0px 20px;
    }
    &__user-image {
      padding: 15px 20px 0px 10px;
    }
    a {
      text-decoration: none;
      color: skyblue;
    }
    a:hover {
      opacity: 0.8;
    }
    .btn {
      font-size: 25px;
    }
  }
}